@font-face {
  font-family:"old london";
  src:url('OldLondon.ttf');
}
header
{
background-color: rgba(0, 0, 0, 0.5);
margin: 0;
height: 48px;
}
 .Bouton_Event {
  border: none;
   color: white;
   padding: 15px 100px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.Bouton_Nouveaux_Jeux{
  border: none;
   color: white;
   padding: 15px 100px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.Bouton_Manga{
  border: none;
   color: white;
   padding: 15px 100px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;

}
.Bouton_e-sport{
  border: none;
   color: white;
   padding: 15px 100px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
/*.enluminure{
font-size: 40px;
display: inline;
}*/
span
{
  font-family:"old london";
  font-size: 100px;
  z-index:3;
  color: black;
  position:absolute; top:-35px; left:-65px;
}
p{
  font-family: "Gabriola";
  font-size: 35px;
  z-index:3;
  color: black;
  position:absolute; top:230px; left:300px;
}
img{
  z-index:1;
  position: relative;
}
body {
  margin :0;
background-image: url('Image_lol.jpg');
height: 100%;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
}
