header
{
background-color: rgba(0, 0, 0, 0.5);
margin: 0;
height: 48px;
}
 .bouton {
  border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   display: block;
  margin : auto;
}
.Bouton{
  border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.Bouton_menu{
  border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;

}
body {
  margin :0;
background-image: url('../Image/Image_lol.jpg');
background-repeat: repeat; }
img {
 border-radius: 50%;
}
